<!-- {{#if currency_selector.currencies.length '>' 1}} -->
<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--currencySelector has-dropdown" href="#"
            data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false">
            {{lang 'common.myaccount' code=currency_selector.active_currency_code}}
            <i class="icon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true">
           
            <li class="dropdown-menu-item">
                <a href="https://kevin-s4.mybigcommerce.com/login.php"
                >
                    <strong>Sign In</strong>
                </a>
            </li>
            <li class="dropdown-menu-item">
                <a href="http://localhost:3000/login.php?action=create_account"
                   data-currency-code="{{{code}}}"
                   data-cart-currency-switch-url="{{{cart_currency_switch_url}}}"
                   data-warning="{{lang 'common.currency_switch_promotion'}}"
                >
                    <strong>Register</strong>
                </a>
            </li>
           
        </ul>
    </li>
</ul>
<!-- {{/if}} -->

